section{
    margin-top:100px;
}
#a1 {
   margin-top:100px;
   width:60%;
   height: 600px;
   margin-left:400px;
    background-image: url('../img/pexels-ánh-đặng-16398261.jpg');
  }

  /* Media Query for screen sizes up to 600px (e.g., smartphones) */
  @media screen and (max-width: 500px) {
    section {
      margin-top: 100px; /* Apply margin-top: 10px for mobile view */
      margin-bottom: 10px;
    }
    #a1{
        width:360px;
        margin-left:0px;
        height: 200px;
        background-size: cover;
    }
  }