
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding-left: 30px;
    background-color: #ffffff; /* 헤더의 배경색을 설정합니다. */
    transition: background-color 0.3s ease; /* 투명도 변경 시 부드러운 전환 효과를 주기 위해 트랜지션을 추가합니다. */
    z-index: 999; /* 헤더가 바디 내용 위에 덮여 보이도록 인덱스를 설정합니다. */
    
  }
  
  /* 투명한 헤더의 스타일 */
  header.transparent {
    background-color: transparent;
  }
  
  #IconStyle {
    margin-top: 20px;
    margin-right: 20px;
  }
  
  #pjtTitle {
    font-size: 25px;
    margin-left: 75px;
    margin-top: -50px;
    font-weight: bold;
  }
  
  #navMenu {
    margin-top: -30px;
  }

/* Media Queries for responsiveness */

/* For screen sizes up to 600px (e.g., smartphones) */
@media screen and (max-width: 600px) {
  header {
    padding:0;
    height: 80px; /* Adjust the height for mobile view */
  }

  #pjtTitle {
    font-size: 20px;
    margin-left: 35px;
    margin-top: -35px;
  }

  #navMenu {
    margin-left:390px;
    margin-top: -35px;
    
  }
  #IconStyle{
    font-size:40px;
  }
  #basic-button {
    top:10px;
    
  }
}


/* For larger screen sizes */
@media screen and (min-width: 961px) {
  /* Add any styles specific to larger screens here, if needed */
}
