.join_input{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex; 
    margin-top:50px;
    margin-bottom: 80px;
}

.joinbutton{
    height:20px;
    
}


#singtitleicon{
    font-size:50px;
    color:orange;
    padding-left: 15px;
    margin-bottom: 30px;   
}

#titleSign {
    margin-left:20px;
    color: black;
}

@media screen and (min-width: 501px) and (max-width: 600px) and (min-height:200px){
    .join_input{
        margin-top:200px;
       height: 100px;
    }
    .joinbutton{
        height:20px;
        margin-bottom: 50px;
    }
    
  
  }
  
  /* For larger screen sizes */
  @media screen and (min-width: 961px) {
    /* Add any styles specific to larger screens here, if needed */
  }
  