.login_input{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex; 
    margin-top:-20px;
    margin-bottom:30px;
}

#titleLogin {
    margin-left:20px;
    color: black;
}
#singtitleicon{
    margin-left:-40px;
}