.write_input{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex; 
    margin-top:100px;
}

#writetitleicon{
    font-size: 40px;
}

#titlewrite{
    margin-left:20px;
    color: black;
    font-size:50px;
}

#writetitleicon{
    margin-left:-20px;
    color:orange;
    font-size:50px;
}


@media screen and (max-width: 800px) {
    .write_input {
      margin-top: 80px; /* Adjust the margin-top for mobile view */
    }
  
    #writetitleicon {
      font-size: 30px; /* Adjust the icon size for mobile view */
    }
  
    #titlewrite {
      font-size: 40px;
    
    }
  
    #writetitleicon {
      font-size: 30px; /* Adjust the icon size for mobile view */
      margin-left: -10px; /* Adjust the icon's left margin for mobile view */
    }
    TextArea{
        width:10px;
    }
  }